*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.headerTop{ 
  background-color: black;
  color: aliceblue;
  padding: 6px 16px;
}


.headerTopContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.forecast {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerBottom{
  box-shadow: 0 -5px 50px black;
  padding: 10px 16px;
}

.headerBottomContent{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.headerBottom img{
  width: 100px;
  height: auto;
}

.menuNav{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.menuNav ul{
  display: flex;
  gap: 15px;
  align-items: center;
  height: 100%;
}

.searchBoxContainner span{
  display: flex;
  align-items: center;
  height: 100%;
}

.searchBoxContainner{
  margin-right: 80px;
}

.flagsContainner img{
  width: 20px;
  height: auto;
}

.flagsContainner{
  position: absolute;
  right: 0px;
}

.mainContainner{
  max-width: 1140px;
  margin: 25px auto;

}

.carrossel{
  height: 400px;
}

.carrossel img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:50% 25%;
  border-radius: 15px;
}
